.vscode/
client/build/
client/out/
client/CMakePresets.json
client/CMakeCache.txt
client/.vs/
LocalUploadServer/out/*
client/CMakeLists.txt.user
.vs/
client/CMakeLists.txt.user
client/proto/upload_file_info.fbs
client/TOML_INTEGRATION_SUCCESS.md
client/TOML_INTEGRATION_COMPLETE.md
client/TOML_CONFIG_ENHANCEMENT.md
client/SPDLOG_INTEGRATION_COMPLETE.md
client/MAGIC_ENUM_INTEGRATION_SUCCESS.md
client/Config_README.md
client/CMakeLists.txt.user
client/CMakeLists.txt.user
HighPerformanceUploadServer.code-workspace
LocalUploadServer/build/
LocalUploadServer/out/
client/log
client/CMakeLists.txt.user
client/ERROR_HANDLING_REFACTOR.md
client/LOG_ENCODING_FINAL_FIX.md
client/LOG_ENCODING_FIX.md
client/LOG_ENCODING_TEST_REPORT.md
client/UNICODE_CONV_REFACTOR.md
client/SPDLOG_MIGRATION_SUCCESS.md
client/MANDATORY_CONFIG_REQUIREMENT.md
client/queue